:root {
  --border: 1px solid rgba(0,0,0,.2);
  --background-color: whitesmoke;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 2vmax;
}

header {
  border-bottom: var(--border);
  padding: 10px;
  background-color: var(--background-color);
}

h3, h4 {
  margin-block-start: 10px;
  margin-block-end: 10px;
}

fieldset {
  margin-block-end: 10px;
  border: var(--border);
}
fieldset > * {
  margin-block-start: 10px;
}

hr {
  color: rgba(0,0,0,.2);
}

.small {
  font-size: 1.5vmax;
}
.tiny {
  font-size: 1vmax;
}

.title {
  font-weight: bold;
}
.success {
  color: green;
}
.failure {
  color: red;
}
.italic {
  font-style: italic;
}

.panel {
  padding: 10px;
  margin-block-end: 10px;
}
.panel.dark {
  background-color: var(--background-color);
  /* border: var(--border); */
}

.highlight {
  padding: 1px 5px;
  background-color: sandybrown;
  border-radius: 4px;
}
.highlight.light {
  background-color: wheat;
}

.delimiter {
  writing-mode: horizontal-tb;
  margin-block-start: 10px;
  margin-block-end: 10px;
  border-bottom: var(--border);
}

.weapon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.weapon > * {
  margin-left: 4px;
  margin-right: 4px;
}
.weapon .space {
  flex-grow: 1;
}


.roll {
  margin-left: 1rem;
  font-size: smaller;
}

.stats {
  position: absolute;
  right: 10px;
  bottom: 10px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .1);
  background-color: ghostwhite;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  /* margin-left: 1.3vmax; */
}

.multiplier {
  margin-right: 6px;
}

.box {
  display: inline-block;
}