h3, h4 {
  margin-block-start: 10px;
  margin-block-end: 10px;
}

.title {
  font-weight: bold;
  margin-block-end: 10px;
}
.success {
  color: green;
}

.failure {
  color: red;
}

.italic {
  font-style: italic;
}

.panel {
  padding: 10px;
  border: 1px solid lightgrey;
  margin-block-start: 10px; 
  writing-mode: horizontal-tb;
}

.delimiter {
  writing-mode: horizontal-tb;
  margin-block-start: 10px;
}

.panel-dark {
  margin-left: 2px;
  padding: 0 2px;
  background-color: rgb(231, 230, 230);
}

.box {
  padding: 10px;
  background-color: lightgrey;
}

.shot {
  margin-left: 1rem;
  font-size: small;
}

.probabilities {
  padding: 10px;
  background-color: DarkKhaki
}
.rolls {
  padding: 10px;
  background-color: GhostWhite
}
.legend {
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(247, 240, 210);
  font-size: small;
}